* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    background-color: #1f2937;
    padding: 16px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: block; 
}


.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}


.nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav a:hover {
    color: #f9faf8;
}





.hero {
    background-color: #1f2937;
    padding: 80px 0;
}

.hero-content {
    display: flex;
    gap: 48px;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 16px;
}

.hero-subtitle {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.5;
}

.btn {
    padding: 10px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}

.btn-primary {
    background-color: #3882f6;
    color: white;
}

.btn-primary:hover {
    background-color: #2563eb;
}

.hero-image {
    flex: 1;
    background-color: #6b7280;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}